<div class="account-container">
  <div class="account-cart">
      <h1>Login</h1>
      <form id="loginForm" action="/account/login" method="post">
        <fieldset>
          <label class="top">Email*  
            <input type="email" name="account_email" id="email" placeholder="someone@mail.com" required>
          </label>
          <label for="password">Password
            <input type="password" id="password" name="account_password" minlength="12" required
            pattern="(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{12,}">
          </label>
          <p class="password-requirements">Password must be at least 12 characters long and include at least one uppercase letter, one number, and one special character.</p>
        </fieldset>
  
        <input type="submit" value="Login" class="submitBtn">
      </form>
      <p>No account? <a href="/account/register">Sign-up</a></p>
    </div>
  </div>
  