/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
:root{
   /* font(s) */
   --heading-font: 'Quicksand', sans-serif;
   --paragraph-font: 'Titillium Web', sans-serif;
   /* colors */
   --primary-color: #252232;
   --secondary-color:#00b0d4;
   --accent1-color: black;
   --accent2-color: white;
}
/* small screens */
body {
  background-image: url('/images/site/checkerboard.jpg'); /* Background for small screens */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

h1,h2,h3,h4,h5{
  font-family: var(--heading-font);
  color: var(--primary-color);
}

p,a {
  font-family: var(--paragraph-font);
}


#wrapper {
  max-width: 500px;
  margin: 2rem auto;
  border: 0.3rem solid var(--secondary-color); 
  border-radius: 15px;
  background-color: white;
  
}

header, nav, main, footer {
  padding: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tools a {
  outline: none;
  text-decoration: none;
  color: var(--primary-color);
}

nav {
  background-color: var(--primary-color);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  margin-right: 15px;
}

nav a{
  color: white;
  outline: none;
  text-decoration: none;
}

nav a:hover{
  color: var(--secondary-color);
}

.promo{
  background-color: #f7f7f57f;
  transform: translate(-90%, -50%);
  position: absolute;
  top: 45%;
  left: 50%;
  padding: 8px;
}
.promo h2,.promo p{
  color: var(--secondary-color);
}
.promo button{
  width: 70%;
}
.main-content img{
  height: auto;
  width: 100%;
}

.image-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.image-button img {
  display: block;
}

.main-content {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.reviews-upgrades {
  display: flex;
  flex-direction: column-reverse; 
  justify-content: space-between;
  padding: 20px 0;
}

.reviews, .upgrades {
  width: 100%; 
}

.upgrade-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 10px; 
  align-items: center;
  justify-items: center;
}

.upgrade-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: var(--secondary-color);
  width: 100%;
  height: 80%;
}

/* Grid inventory */
#inv-display {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inv-display li {
  width: 100%;
  max-width: 300px;
  margin: 10px 0;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--accent2-color);
  text-align: center;
  padding: 10px;
}

#inv-display img {
  max-width: 100%;
  height: auto;
}

#inv-display .namePrice {
  padding: 10px 0;
}

/* Vehicle Details */
.vehicle-detail-container {
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.vehicle-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
}

.vehicle-detail h1 {
  width: 100%;
  font-size: 2em;
  margin-bottom: 20px;
  grid-column: 1/3;
}

.vehicle-detail img {
  flex: 1 1 40%;
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
  justify-self: center;

}

.vehicle-info {
  flex: 1 1 55%;
  padding: 1rem;
  text-align: left;
}

.vehicle-info p {
  margin: 10px 0;
}

.gray-background {
  background-color: #bdbdbd; /* Color grisaseo */
  padding: 10px; /* Espacio alrededor del texto */
}

.vehicle-info p strong {
  display: inline-block;
  width: 100px;
}


/* Medium screens */
@media screen and (min-width: 700px) {
  body {
    background-image: url('/images/site/small_check.jpg'); /* Background for medium screens */
  }

  #wrapper {
    max-width: 900px; 
  }

  .main-content, .reviews-upgrades {
    flex-direction: row; 
  }

  .promo{
    transform: translate(-90%, -50%);
    top: 60%;
    left: 40%;
    padding: 20px;
  }

  .reviews, .upgrades {
    width: 48%; 
  }

  #inv-display {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #inv-display li {
    margin: 10px;
  }

  .vehicle-detail {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
  }

  .vehicle-detail img {
    margin-right: 20px;
  }
  .vehicle-info{
    padding-right: 2rem;

  }
  
}

/* Large screens */
@media (min-width: 1040px) {
  body {
    background-image: url('/images/site/small_check.png'); 
  }
  
  #inv-display li {
    max-width: 250px;
  }
}
